<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="SektorDB" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\загит\source\repos\SampSharpGameMode1\SampSharpGameMode1\SampDB.mdf;Integrated Security=True" />
	</connectionStrings>
</configuration>